body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #c2c2c2;
    padding: 4px 0;
}

main {
    margin-top: 10px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}
